.image-slider  {
    position: relative;
    left: 0px;
    top: 0px;
    width: 910px;
    height: 360px;
}

.image-slider .slider-body {
    position: relative;
    width: 780px;
    height: 340px;
    margin: 10px auto;
    background : url("../images/panelbg.png") no-repeat;
}

.image-slider .slider-body .image-list {
    position: relative;
    left: 10px;
    top: 10px;
    width: 760px;
    height: 320px;
    /* 5개의 이미지가 slider-body부분에 겹치게 만들어준다. */
    overflow: hidden; 
}

.image-slider .slider-body .image-list img {
    display: inline;
    width:100%;
    height:100%;
    position: relative;    
    left: 0;
    top: 0;
    /* 투명도 */
    opacity: 0.0;  
}

.image-slider .slider-body ul.index-nav {
    position: absolute;
    right : 10px;
    bottom: 10px;
    width: 200px;
    height: 30px;
    list-style: none;
}

.image-slider .slider-body ul.index-nav li {
    display: inline;
    width: 35px;
    height: 27px;
    float: left;
}

.image-slider .slider-body ul.index-nav li a {
    float: left;
    font-size: 14pt;
    width: 29px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background: url("../images/button_dot.png") no-repeat;
}

.image-slider .slider-body ul.index-nav li a.select {
    background: url("../images/button_dot.png") no-repeat 0 -27px;
}

.image-slider .slider-btn-prev {
    position: absolute;
    top : 150px;
    left:  0px;
    width: 51px;
    height: 66px;
    cursor: pointer;
}

.image-slider .slider-btn-next {
    position: absolute;
    top : 150px;
    right:  0px;
    width: 51px;
    height: 66px;
    cursor: pointer;
}