
    #menu{
    list-style: none;
    border:  2px solid red;
    height: 50px;
    padding: 20px;

    }
    #menu li{
        display: block;
        float: left;
        padding: 10px;
        border: 2px solid blue;
        margin-left: 15px;
    }